
{% macro Card(post, class = 'w-full', cardClass = '', element = 'div', headingElement = 'h2') %}
<{{ element }} class="{{ class }}">
  <div class="{{ cardClass }}">
    <{{ headingElement }}>
      <a href="{{ post.url or post.data.linkUrl }}">
          <span>{{ post.data.title }}</span>
      </a>
    </{{ headingElement }}>
    <p>{{ post.data.metaDesc }}</p>
  </div>
</{{ element }}>
{% endmacro %}