<div id="artsen" class="px-4 py-16 bg-purple-100 hero md:px-8">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-3xl font-semibold text-center">Onze artsen</h2>
    <ul class="grid grid-cols-1 gap-5 mt-12 sm:gap-6 lg:grid-cols-3">
      <li>vandepeer</li>
    </ul>
  </div>
</div>